<% include ./partials/header %>

<div class="container">
<div class="row">
    <div class="col-md-9">
        <!--<img src ="https://images.unsplash.com/photo-1517771778436-39f5763f5270?ixlib=rb-0.3.5&s=5bc54e2829db4ab4978537b7fec16cba&auto=format&fit=crop&w=334&q=80" style="height: 90vh">-->
    </div>
    <div class="col-md-3">
        <h1 style="text-align: center; padding-top:30vh" >Login!</h1>
        
        <div > <!--style="width:30%; margin: 25px auto;"-->
        
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
</div>

<!--<div class="container">-->
   
<!--</div>-->

<% include ./partials/footer %>